.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c3a9d;
    color: white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    /* position: fixed; */
    bottom: 0;
}

.footer p {
    margin: 0;
    font-weight: 500;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-logo {
    font-weight: bold;
    font-size: 18px;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        margin-top: 10px;
    }
}
