.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
    max-height: 90vh;
    padding: 20px;
    position: relative;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.modal-job-image {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content {
    overflow-y: auto;
    flex-grow: 1;
    padding: 20px 0;
}

.modal-content p {
    display: block;
}

.modal-content::-webkit-scrollbar {
    width: 8px;
}

.modal-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.apply-now-btn {
    background-color: #0c3a9d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    font-size: 16px;
    position: sticky;
    bottom: 0;
}

.apply-now-btn:hover {
    background-color: #0056b3;
}
