.trainingUpdateModalOverlay,
.trainingCreateModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.trainingUpdateModalContent,
.trainingCreateModalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.trainingUpdateModalContent,
.trainingCreateModalContent h2 {
    margin-bottom: 20px;
}

.trainingUpdateModalContent,
.trainingCreateModalContent label {
    display: block;
    margin-bottom: 5px;
}

.trainingUpdateModalContent input,
.trainingUpdateModalContent textarea, 
.trainingCreateModalContent input,
.trainingCreateModalContent textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.trainingUpdateModalButtons, .trainingCreateModalButtons {
    display: flex;
    justify-content: flex-end;
}

.trainingUpdateModalButtons, .trainingCreateModalButtons button {
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
}

.trainingUpdateModalButtons button:first-child {
    background-color: #0c3a9d;
    color: white;
    border: none;
}

.trainingUpdateModalButtons button:last-child {
    background-color: #000000;
    color: white;
    border: none;
}